# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Virtual environment
# =========================
venv/

# =========================
# Runtime data & outputs
# =========================
data/
outputs/
logs/

# =========================
# YOLO / ML training
# =========================
runs/
*.cache

# Ignore training datasets (keep config & scripts)
training/**/data/*

# =========================
# Model weights
# =========================
# Ignore all weights by default
*.pt

# BUT keep final & pretrained models
!models/pretrained/*.pt
!models/fine_tuned/*.pt
